<div>
<%=   flash[:notice]  %>
</div>
<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-md-3">
<%= render 'books/show', user: @user, book_new: @book  %>
<%= render 'index',users: @users %>
  </div>
</div>