<div>
<%= flash[:notice]  %>
</div>
<div>
<% if @book.errors.any? %>
<Strong><%= @book.errors.count %>  errors occur!  :</Strong>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
</div>
<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'books/show', book_new: @book_new, user: @user %>
    </div>
  </div>
</div>